.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  img {
    width: 177px;
    height: 263px;
    border-radius: 20px;
  }

  .title {
    max-width: 177px;
  }
}
